.pagination {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: center;
    justify-content: center;
}

.pagination button {
    cursor: pointer;
    background-color: transparent;
    box-shadow: none;
    border: 2px solid black;
    border-radius: 5px;
    margin: 2px 3px;
    width: 40px;
    height: 40px;
    font-size: 17px;
    font-weight: 700;
    text-align: center;
    transition: background-color 0.5s;
    color: black;
}

.pagination button:hover {
    background-color: rgba(96, 96, 96, 0.3);
}

.pagination .active {
    background-color: rgba(96, 96, 96, 0.3);
}
