.jg-entry:hover img{
    opacity: 0.5 !important;
}

.buttons {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin: 5px
}

.galleryButton {
    background-color: transparent;
    border: 0px;
    display: block;
    color: #232323;
    font-size: 18px;
    font-weight: bold;
    font-family: Proxima Nova, helvetica neue, helvetica, arial, sans-serif
}

.galleryButton:hover {
    color: #606060
}

.galleryNextButton {
    height: 40px;
    width: 64px;
    background-image: url("../img/right-arrow-black.png");
    background-repeat: no-repeat
}

.galleryNextButton:hover {
    opacity: 0.7
}

.galleryPreviousButton {
    height: 40px;
    width: 64px;
    background-image: url("../img/left-arrow-black.png");
    background-repeat: no-repeat
}

.galleryPreviousButton:hover {
    opacity: 0.7
}

.album-header{
    height:200px;
    margin: 0 3px;
    background-repeat: no-repeat;
    background-position: 50% 25%;
    background-size: cover;
}

.album-header div:first-child{
    height:100%;
    width:100%;
    background-color: rgba(0, 0, 0, 0.9);
    opacity:0.7;
}

.album-header .album-share{
    display: block;
    height: 40%;
    width: 100%;
    background: url("../images/export.svg") no-repeat center center;
}

.album-header h1{
    color:white;
    margin: 0px auto;
    text-align: center;
    padding-top: 20px;
}

.album-header p{
    text-align: center;
    color: white;
}
