<div class="dialog text-center" style="display:none;">
    Odkaz bol skopirovany do schranky.
</div>

<div id="customMyGallery" >

    {% for album in albums %}
    <div class="customCover">
        <div class="customGal">
            <a class="customAlb" href="{{ url }}/{{ album.id }}">
                <div id="{{ album.id }}" gallerynumber="'.$key.'" class="customImage" style="background-image: url('{{ album.cover_image }}');"></div>
            </a>
            <a class="customLink" href="{{ url }}/{{ album.id }}">
                {{ album.title }}
            </a>
            <div class="customInfo">
                <span class="customSum">
                    {{ album.count_photos }} {{ 'photos'|t }}
                </span>
                <span class="customShare" data-album-url="'.$api->getAlbumURL($album).'">
                    {{ 'share'|t }}
                </span>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<div id="pagination" class="text-center pt-5 pagination">
    {% for page in pager %}
        <a href="{{ page.url }}">
            <button page="{{ page.index }}" class="paginationButton {% if page.active %}active{% endif %}">{{ page.index }}</button>
        </a>
    {% endfor %}
</div>

