<div class="buttons">
    {% if siblings.previousAlbum is not null %}
    <div class="previousGallery" style="" title="{{ siblings.previousAlbum.title._content }}">
        <a href="{{ base_url }}/{{siblings.previousAlbum.id}}">
            <div class="galleryPreviousButton"></div>
        </a>
    </div>
    {% endif %}

    <a class="galleryButton" href="{{ base_url }}">Späť na albumy</a>

    {% if siblings.nextAlbum is not null %}
    <div class="nextGallery" style="" title="{{ siblings.nextAlbum.title._content }}">
        <a href="{{ base_url }}/{{siblings.nextAlbum.id}}">
            <div class="galleryNextButton"></div>
        </a>
    </div>
{% endif %}
</div>

<div class="album-header" style="background-image: url('{{ background_image }}')">
    <div>
        <h1 class="album-header-title">{{ title }}</h1>
        <p class="album-header-description">{{ description | nl2br }}</p>
        <a href="#" class="album-share" title="Zdieľať galériu"></a>
    </div>
</div>

<div id="customAlbum" class="justified-gallery">
    {% for photo in photos %}
    <a class="" id="{{ photo.id }}" href="{{ photo.largeUrl }}">
        <img src="{{ photo.thumbnailURL }}" width="{{ photo.thumbnailWidth }}" height="{{ photo.thumbnailHeight }}" alt="{{ photo.altTag }}">
    </a>
    {% endfor %}

</div>

<div id="pagination" class="text-center pt-5 pagination">
    {% for page in pager %}
        <a href="{{ page.url }}">
            <button page="{{ page.index }}" class="paginationButton {% if page.active %}active{% endif %}">{{ page.index }}</button>
        </a>
    {% endfor %}
</div>
